[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
werkzeug = "*"
flask-jwt-extended = "*"
flask-migrate = "*"
flask = "*"
flask-oauthlib = "*"
authlib = "*"
google-auth = "*"
flask-cors = "*"
requests = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
